.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    /* animation: App-logo-spin infinite 20s linear; */
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.wrapper {
  /* width: auto; */
  display: flex;
  flex-wrap: wrap;
}
/* .wrapper > div {
  flex: 1 1 150px;
} */

.sideHeader {
  flex-grow: 1;
  border-bottom: 1px solid var(--grey-200-b)
}

.middleHeader {
  flex-grow: 4;
}

.sideBody {
  flex-grow: 1;
  background-color: #eeeeee;
}

.middleBody {
  flex-grow: 2.25;
  min-height: 1080px;
}
